<?xml version="1.0" encoding="utf-8"?>
<form>
	<fields name="algemeen">
		<fields name="betalen">
			<fieldset name="betaling">
				<fieldset name="bix_ideal" label="COM_BIXPRINTSHOP_PLUGIN_TITLE_BIX_IDEAL">
					<fields name="bix_ideal">
						<fields name="gatewayideal-omnikassa">
						<field name="spacerOmni" type="spacer" hr="false" class="title" label="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_OMNIKASSA"  />
							<field name="MERCHANT_ID" type="text" size="40" class="inputbox"
								label="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_MERCHANT_ID" 
								description="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_MERCHANT_ID_DESC" 
								default="" 
								filter="safehtml" /> 
							<field name="SUB_ID" type="text" size="40" class="inputbox"
								label="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_SUB_ID" 
								description="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_SUB_ID_DESC" 
								default="0" 
								filter="safehtml" /> 
							<field name="HASH_KEY" type="text" size="40" class="inputbox"
								label="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_HASH_KEY" 
								description="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_HASH_KEY_DESC" 
								default="" 
								filter="safehtml" /> 
							<field name="KEY_VERSION" type="text" size="40" class="inputbox"
								label="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_KEY_VERSION" 
								description="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_KEY_VERSION_DESC" 
								default="1" 
								filter="safehtml" /> 
							<field name="TEST_MODE" type="bixradio"
								label="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_TEST_MODE"
								description="COM_BIXPRINTSHOP_CONFIG_BETALEN_IDEAL_TEST_MODE_DESC"
								default="0"	>
								<option value="1">BIX_YES</option>
								<option value="0">BIX_NO</option>
							</field>
							<field name="GATEWAY_NAME" type="hidden" default="Rabo OmniKassa - iDEAL" />
							<field name="GATEWAY_WEBSITE" type="hidden" default="http://www.rabobank.nl/" />
							<field name="GATEWAY_METHOD" type="hidden" default="ideal-omnikassa" />
							<field name="GATEWAY_VALIDATION" type="hidden" default="0" />
						</fields>
					</fields>
				</fieldset>
			</fieldset>
		</fields>
	</fields>
</form>
